// Icon
// ===
//
// 1. To avoid svg icon eating up your clicks

.c-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: $unit*2;
    max-width: 100%;
    height: $unit*2;
    max-height: 100%;

    color: inherit;

    pointer-events: none; // 1

    fill: currentColor;

    &.c--small {
        width: $unit;
        height: $unit;
    }

    &.c--medium {
        width: $unit*3;
        height: $unit*3;
    }

    &.c--large {
        width: $unit*4;
        height: $unit*4;
    }

    &.c--microscopic {
        width: $sub-unit;
        height: $sub-unit;
    }

    &.c--gargantuan {
        width: $unit*12;
        height: $unit*12;
    }

    &.c--colossal {
        width: $unit*24;
        height: $unit*24;
    }
}
